# NYC 311 Complaints 2017 Data Wrangling

In [1]:
import os
from os.path import join as opj
import requests
from bs4 import BeautifulSoup
from requests import HTTPError, ConnectionError
import numpy as np
import pandas as pd
from sodapy import Socrata

### Data Sources

In [2]:
POPULATION_DATASET_URL = ('https://s3.amazonaws.com/SplitwiseBlogJB/'
                          '2010+Census+Population+By+Zipcode+(ZCTA).csv')

NYC_ZIPCODES_DATASET_URL = ('https://www.health.ny.gov/statistics/cancer/'
                            'registry/appendix/neighborhoods.htm')

COMPLAINTS_DATASET_URL = ('https://data.cityofnewyork.us/resource/fhrw-4uyv.csv?'
                          '$where=date_extract_y(created_date)=2017&$limit={n_records}')

First, how many records were there in 2017?

In [3]:
def get_n_records(year=2017):
    with Socrata('data.cityofnewyork.us', None) as client:
        query = """
        select count(unique_key)
        where date_extract_y(created_date) = 2017
        """
        
        n_records = int(client.get('fhrw-4uyv' , query=query)[0]['count_unique_key'])
        
    return n_records

n_records = get_n_records()
print(n_records)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

2461204

In [10]:
%%time
response = requests.get(COMPLAINTS_DATASET_URL.format(n_records=n_records), stream=True)

with open('../data/raw/nyc-311-complaints-2017.csv', 'wb') as fout:
    for chunk in response.iter_content(32 * 1024):
        fout.write(chunk)

CPU times: user 20.9 s, sys: 8.42 s, total: 29.3 s
Wall time: 2min 23s

Let's make sure that we retrieved all the records we expected to retrieve.

In [11]:
!wc -l ../data/raw/nyc-311-complaints-2017.csv

2461205 ../data/raw/nyc-311-complaints-2017.csv

Excellent! Looks like we're good to go (the "extra" row being the header, of course), since that matches the expected number of complaints recorded in 2017.

In [12]:
!head -n 1 ../data/raw/nyc-311-complaints-2017.csv

"address_type","agency","agency_name","bbl","borough","bridge_highway_direction","bridge_highway_name","bridge_highway_segment","city","closed_date","community_board","complaint_type","created_date","cross_street_1","cross_street_2","descriptor","due_date","facility_type","incident_address","incident_zip","intersection_street_1","intersection_street_2","landmark","latitude","location","location_address","location_city","location_state","location_type","location_zip","longitude","open_data_channel_type","park_borough","park_facility_name","resolution_action_updated_date","resolution_description","road_ramp","status","street_name","taxi_company_borough","taxi_pick_up_location","unique_key","vehicle_type","x_coordinate_state_plane","y_coordinate_state_plane"

### 311 Data Utility Functions

In [12]:
def get_population_by_zip(url):
    """ Retrieves 2010 Census population by ZIP code data """
    try:
        population_by_zip = pd.read_csv(url)
        return population_by_zip
    except HTTPError as e:
        print(e)
        
def scrape_nyc_zips(url):
    """ Scrapes table of NYC zipcodes from New York State Department
    of Health website """
    try:
        r = requests.get(url)
        return r
    except HTTPError as e:
        print("NYC neighborhood ZIP code lookup table not found:", e)


# TODO: Refactor to have utility functions for, for example, the
# "tidying" aspects and the conversion aspects ... and rename this
# function to something more sensible
def tidy_nyc_zips(html):
    """ Wrangle HTML table of NYC ZIP codes into a "tidy" data frame

    Args:
        html (requests.models.Response):

    Returns:
        pandas.DataFrame:
    """

    # TODO: This seems too ugly and hacky so find a more elegant
    # solution
    borough_zips = (
        pd.read_html(html.content, header=0)[0]
          .reset_index()
    )

    borough_zips.loc[borough_zips['ZIP Codes'].isnull(), 'Borough'] = np.nan
    borough_zips.loc[:, 'ZIP Codes'] = \
        borough_zips.loc[:, 'ZIP Codes'].str.replace(' ', '')

    borough_zips.loc[:, 'ZIP Codes'] = (
        borough_zips.loc[:, 'ZIP Codes']
                    .combine_first(borough_zips['Neighborhood'])
    )

    # TODO: keep the neighborhood information, even though it's not
    # currently necessary for this analysis
    borough_zips.drop('Neighborhood', axis=1, inplace=True)
    borough_zips.loc[:, 'Borough'] = \
        borough_zips.loc[:, 'Borough'].ffill()

    # Overwrite the comma-separated string "list" in the cell
    # with an actual list of integers
    borough_zips.loc[:, 'ZIP Codes'] = (
        borough_zips.loc[:, 'ZIP Codes']
                    .apply(lambda x: x.split(','))
    )

    # TODO: Write utility function for this pattern
    borough_zips = (
        borough_zips.set_index(['index', 'Borough'])
                    .loc[:, 'ZIP Codes']
                    .apply(pd.Series) # Expand the list of 
                    .stack()
                    .reset_index()
    )

    borough_zips.drop(['index', 'level_2'], axis=1, inplace=True)
    borough_zips.columns = \
        'borough zip_code'.split(' ')
    borough_zips.loc[:, 'zip_code'] = \
        borough_zips.loc[:, 'zip_code'].astype(int)

    return borough_zips

## Data Wrangling

### NYC 311 Complaints 2017

In [3]:
def clean_frame(complaints):
    
    complaints.loc[:, 'unique_key'] = \
    complaints.loc[:, 'unique_key'].astype(int)

    complaints.loc[:, 'borough'] = (
        complaints.loc[:, 'borough']
                  .str.title()
                  .astype('category')
    )

    complaints.loc[:, 'city'] = (
        complaints.loc[:, 'city']
                  .str.title()
                  .astype('category')
    )

    complaints.loc[:, 'complaint_type'] = \
        complaints.loc[:, 'complaint_type'].astype('category')

    complaints.loc[:, 'incident_zip'] = \
        complaints.loc[:, 'incident_zip'].apply(pd.to_numeric, errors='coerce')

    complaints.loc[:, 'created_date'] = \
        complaints.loc[:, 'created_date'].apply(pd.to_datetime)
    
    complaints = complaints.replace('Unspecified', np.nan)

    is_borough = complaints['city'].isin(['Bronx', 'Brooklyn', 'Manhattan',
                                      'Queens', 'Staten Island'])
    complaints.loc[~is_borough, 'city'] = np.nan

    complaints.loc[:, 'borough'] = (
        complaints.loc[:, 'borough']
                  .combine_first(complaints['city'])
    )

    complaints.drop('city', axis=1, inplace=True)
    
    return complaints

In [8]:
%%time

keep = ['unique_key', 'created_date', 'borough', 'city', 'incident_zip', 
        'latitude', 'longitude', 'complaint_type', 'descriptor']

chunksize = 10 ** 5
dfs = {}
for idx, df in enumerate(pd.read_csv('nyc-311-complaints-2017.csv',
                                     usecols=keep,
                                     chunksize=chunksize,
                                     low_memory=False)):
    dfs[idx] = clean_frame(df)

CPU times: user 2min 54s, sys: 1.6 s, total: 2min 56s
Wall time: 2min 59s

In [9]:
complaints = pd.concat(dfs.values(), ignore_index=True)

In [10]:
complaints.head(5)

,borough,complaint_type,created_date,descriptor,incident_zip,latitude,longitude,unique_key
0,Brooklyn,Derelict Vehicles,2017-10-16 19:55:00,14 Derelict Vehicles,11207.0,40.680113,-73.895978,37454596
1,Brooklyn,Sanitation Condition,2017-10-16 13:45:00,15 Street Cond/Dump-Out/Drop-Off,11215.0,40.666845,-73.994860,37454599
2,Queens,Dirty Conditions,2017-10-17 08:56:00,E8 Canine Violation,11435.0,40.709375,-73.810137,37454610
3,Brooklyn,Derelict Vehicles,2017-10-17 12:46:00,14 Derelict Vehicles,11238.0,40.676181,-73.966295,37454614
4,Queens,Derelict Vehicles,2017-10-17 12:28:00,14 Derelict Vehicles,11434.0,40.679438,-73.771198,37454620

### 2010 Census Population by ZIP Code

In [17]:
population_by_zip = get_population_by_zip(POPULATION_DATASET_URL)
population_by_zip.columns = 'zip_code population'.split(' ')

### NYC ZIP Codes

There are some non-NYC ZIP codes in the dataset, so we'd like to safely filter those out.

In [13]:
html = scrape_nyc_zips(NYC_ZIPCODES_DATASET_URL)

In [14]:
html = scrape_nyc_zips(NYC_ZIPCODES_DATASET_URL)
nyc_zips = tidy_nyc_zips(html)

In [15]:
nyc_zips.sample(10)

       borough  zip_code
74   Manhattan     10035
14       Bronx     10471
75   Manhattan     10010
83   Manhattan     10005
66   Manhattan     10039
115     Queens     11360
142     Queens     11004
124     Queens     11435
151     Queens     11414
18       Bronx     10475

In [18]:
population_by_zip_nyc = nyc_zips.merge(
    population_by_zip,
    on='zip_code',
    how='inner'
)

In [23]:
population_by_zip_nyc.sample(10)

           borough  zip_code  population
165  Staten Island     10302       19088
94       Manhattan     10065       32270
33        Brooklyn     11204       78134
146         Queens     11426       17590
148         Queens     11428       19168
132         Queens     11374       43600
101      Manhattan     10032       57331
31        Brooklyn     11214       88630
77       Manhattan     10017       16575
104      Manhattan     10040       41905

In [19]:
population_by_borough = (
    population_by_zip_nyc.groupby('borough', as_index=False)
                          .population
                           .sum()
)
population_by_borough

         borough  population
0          Bronx     1382480
1       Brooklyn     2504700
2      Manhattan     1565608
3         Queens     2231553
4  Staten Island      468730

According to Google, NYC had a population of 8.194 million in 2010. The scraped and merged dataset says that the 2010 population is:

In [20]:
population_by_borough['population'].sum()

8153071

It isn't exactly the same, but it's close enough for the present purposes to ignore futher investigation.

In [21]:
population_by_zip_nyc.to_csv('../data/cleaned/population-by-zip-nyc-2010.csv', index=False)

In [22]:
complaints = complaints.merge(
    population_by_zip_nyc[['borough', 'zip_code', 'population']],
    left_on='incident_zip',
    right_on='zip_code',
    how='inner'
)

complaints.loc[:, 'borough'] = (
    complaints.loc[:, 'borough_x']
              .combine_first(complaints['borough_y'])
)

complaints.drop(['borough_x', 'borough_y'], axis=1, inplace=True)

In [27]:
column_order = [
    'unique_key', 'created_date', 'borough', 'zip_code', 
    'latitude', 'longitude', 'complaint_type', 'descriptor'
]
                
complaints[column_order].to_csv(
    '../data/cleaned/nyc-311-complaints.csv.gz',
    compression='gzip',
    index=False
)